//*Colors

//!mainColors
$color-primary: #202938;
$color-secondary: #0761dc;
$color-tertiary: #ff04ab;
$color-secondary-light: #2172e4;

//!otherColors
$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-subtitle: #7a7a7a;
$color-fiter: #4c5564;
$color-green: rgba(4, 150, 41, 0.993);
$color-orange: hsl(29, 100%, 50%);
$color-red-dark: #710819;
$color-red: #9b061c;
$color-red-light: #a41b2f;
$color-purple: #d338f8;
$color-purple-dark: #7e30a0;
$color-shadow: #8383ff;
$color-discount: #ffef00;

//*Font-Size
$font-size-sm: 1.1rem;
$font-size-default: 1.6rem;
$font-size-lg: 2.1rem;
$font-size-title: 2.5rem;

//*FontFamily
$font-Sans: "DM Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-rubik: "Rubik", sans-serif;

//*width
$main-width: 89%;
